.left-side-bar {
    box-shadow: 1px 0px 20px rgb(152, 152, 152);
}

.corpo {
    height: 100%;

}

body {
    height: 100%;
    background-color: #f6f5f3;
}

html {
    height: 100%;
}




.botao:hover {
    background-color: #ed4404;
    border: none;
}

.botao {
    background-color: #ed4404;
    border: none;
    margin-top: 40px;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.top-nav-menu{
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgb(152, 152, 152);
}

.navbar-nav .nav-link.active {
    color: #ed4404;
    border: solid #ed4404 1px;
    border-radius: 5px;
}

.painel{
    border: none 1px black;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgb(152, 152, 152);
    margin: 2px;
    height: 91%;
}

