.left-side-bar {
    box-shadow: 1px 0px 10px gray;
}

.corpo {
    height: 100%;

}

body {
    height: 100%;
    background-color: #f6f5f3;
}

html {
    height: 100%;
}




.botao:hover {
    background-color: #ed4404;
    border: none;
}

.botao {
    background-color: #ed4404;
    border: none;
    margin-top: 40px;
}